# Port du serveur
PORT=5000

# Clés API (à remplir)
NEWS_API_KEY=your_newsapi_key_here
SHODAN_API_KEY=your_shodan_key_here
HIBP_API_KEY=your_hibp_key_here

# URL de la base de données MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/cybergeopolitics?retryWrites=true&w=majority
